<main class="py-4 px-6 text-gray-600 w-full">
    <article class="content">
        <h1 class="text-2xl font-bold">
            @Content.Name
        </h1>
        <h2 class="text-lg">
            @Content.Title
        </h2>

        <VericalSeparator />

        <p>
            @Content.Description
        </p>

        <VericalSeparator />

        <h2 class="text-lg">
            @Labels.Experience
        </h2>

        <div class="flex flex-col my-4 gap-6">
            @foreach (var experience in Content.Experience)
            {
                <ExperienceContainer
                    Title="@experience.JobTitle"
                    Project="@experience.ProjectTitle"
                    From="@experience.InitDate"
                    Infix="@Labels.ExperienceDateInfix"
                    To="@experience.EndDate"
                >
                    <p>
                        @experience.Description
                    </p>
                </ExperienceContainer>
            }
        </div>

        @if (Content.ExperienceFootNote is not null)
        {
            <p class="pt-2">
                @Content.ExperienceFootNote
            </p>
        }

        <VericalSeparator />

        <h2 class="text-lg">
            @Labels.Education
        </h2>

        <ul class="flex flex-col gap-4 mt-4">
            @foreach (var education in Content.Education)
            {
                <li class="flex flex-col">
                    <span class="font-bold">@education.Title</span>
                    <span class="text-gray-400">@Labels.EducationDatePrefix @education.Date</span>
                </li>
            }
        </ul>
    </article>
</main>

@code {
    [Parameter]
    public required Data.MainLabels Labels { get; init; }

    [Parameter]
    public required Data.MainInfoContent Content { get; init; }
}